@use "./element-theme.scss";
@use "./theme.scss";

.fade-enter-active {
  transition: opacity 0.5s;
}
.fade-leave-active {
  transition: opacity 0;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
